vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jan 2013 12:10:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|app/4/request-certificate.html app/4/request-policy-change.html app/9/contact.html app/9/index.html app/9/request-policy-change.html app/9/thanks.html app/9/index.php app/4/index.html app/4/request-quote.html app/9/report-claim.html app/4/contact.html app/4/thanks.html app/4/what-to-do.html app/9/request-certificate.html app/9/request-quote.html app/9/index-works-rakhi.html app/4/report-claim.html app/9/what-to-do.html app/works-raki/index-works-rakhi.html
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timecreated:TR|11 Oct 2012 19:11:14 -0000
vti_nexttolasttimemodified:TW|18 Jan 2013 12:09:06 -0000
vti_syncofs_208.109.14.76\:21/schantz:TW|02 Feb 2013 20:14:58 -0000
vti_syncwith_208.109.14.76\:21/schantz:TX|18 Jan 2013 12:10:54 -0000
vti_cacheddtm:TX|18 Jan 2013 12:10:54 -0000
vti_filesize:IR|1698
vti_cachedlinkinfo:VX|S|images/tiling_stripes.gif S|../images/tiling_stripes.gif
vti_cachedsvcrellinks:VX|NSUS|app/9/css/images/tiling_stripes.gif FSUS|app/9/images/tiling_stripes.gif
