vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Jan 2013 23:40:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|app/4/request-certificate.html app/4/request-policy-change.html app/9/contact.html app/9/index.html app/9/request-policy-change.html app/9/thanks.html app/4/index.html app/4/request-quote.html app/9/report-claim.html app/4/contact.html app/4/thanks.html app/4/what-to-do.html app/9/request-certificate.html app/9/request-quote.html app/4/report-claim.html app/9/what-to-do.html
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timecreated:TR|11 Oct 2012 19:11:14 -0000
vti_nexttolasttimemodified:TW|08 Jan 2013 23:31:49 -0000
vti_syncofs_208.109.14.76\:21/schantz:TW|16 Jan 2013 20:16:04 -0000
vti_syncwith_208.109.14.76\:21/schantz:TX|08 Jan 2013 23:40:58 -0000
vti_cacheddtm:TX|08 Jan 2013 23:40:58 -0000
vti_filesize:IR|1507
